<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UI</title>
    <link rel="stylesheet" href="~/lib/semantic/dist/semantic.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="ui visible inverted left demo vertical labeled icon sidebar menu">
            <a class="item" asp-area="" asp-controller="Home" asp-action="Index">
                <i class="home icon"></i>
                Home
            </a>
            <a class="item" asp-area="" asp-controller="ProductionLine" asp-action="Index">
                <i class="hammer icon"></i>
                Production Lines
            </a>
        </nav>
    </header>

    <main role="main" class="ui main container">
        @RenderBody()
    </main>

    <footer class="ui inverted vertical footer segment">
        <div class="ui center aligned container">
            <p>&copy; @DateTime.Now.Year - Satisfactory Planner</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/semantic/dist/semantic.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
