@using React.AspNet
@using React.RenderFunctions
@model UI.Controllers.CreateProductionLineViewModel

@{
    ViewBag.Title = "Create Production Line";
}

<h1 class="ui header">
    Set up a new Production Line
</h1>

<div id="newPod"></div>

@Html.React("Components.RootComponent", new { url="/ProductionLine/Items" })

